<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>T-short shop</title>
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <button onclick="opensidebar()">&#9776</button>
        <a href="index.html">T-short shop</a>
      </div>
      <div class="header-links">
        <a href="signin">Sign In</a>
        <a href="cart">Cart</a>
      </div>
    </header>
    <aside class="sidebar">
      <ul>
        <li>
          <a href="http://">Red</a></li>
        <li>Gren</li>
        <li>Blue</li>
        <li>Yellow</li>
        <li>White</li>
      </ul>
      <button class="sidebar-close-btn" onclick="closesidebar()">x</button>
    </aside>
    <main class="main">
      <div class="content">
        <ul class="products">
          
          <li>
            <div class="product">
              <img src="./images/black.jfif" alt="product" class="product-image">
              <div class="product-name">
                <a href="product.html">Black t-short</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">$10</div>
              <div class="product-rating">4.5 Stars (7 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img src="./images/black.jfif" alt="product" class="product-image">
              <div class="product-name">
                <a href="product.html">Black t-short</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">$10</div>
              <div class="product-rating">4.5 Stars (7 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img src="./images/black.jfif" alt="product" class="product-image">
              <div class="product-name">
                <a href="product.html">Black t-short</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">$10</div>
              <div class="product-rating">4.5 Stars (7 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img src="./images/black.jfif" alt="product" class="product-image">
              <div class="product-name">
                <a href="product.html">Black t-short</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">$10</div>
              <div class="product-rating">4.5 Stars (7 Reviews)</div>
            </div>
          </li>

        </ul>
      </div>
    </main>
    <footer class="footer">
      All right reserved
    </footer>
  </div>
  <script src="./index.js"></script>
</body>
</html>